.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('imgs/platia-feinkost-pX5h48q0poY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }